.main_footer {
  background: #fed700;
  margin-top: 40px;
}

.wrapper_footer {
  width: 1000px;
  min-height: 744px;
  background: #fed700;
  margin: 0 auto;
}
.input_name {
  background: #ffff;
  height: 48px;
  border-radius: 15px;
  font-size: 16px;
  font-family: Nunito;
  padding: 0 0 0 16px;
  display: flex;
  margin-top: 24px;
  width: 318px;
}
.input_name ::placeholder {
  color: #7b8e98;
  font-size: 12px;
  justify-content: flex-start;
  align-items: flex-start;
}
.input_mail {
  height: 48px;
  border-radius: 15px;
  font-size: 16px;
  font-family: Nunito;
  padding: 0 0 0 16px;
  margin: 8px 0 24px 0;
  width: 318px;
}
.input_mail::placeholder {
  color: #7b8e98;
}
.picture_footer {
  width: 40%;
  min-height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url(../Images/footer/sleeping\ 1.svg),
    url(../Images/footer/Vector.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left 0 bottom 50%, bottom 0 right 0;
}
.img_footer {
  position: relative;
  width: 80%;
  margin-bottom: 40px;
}

.banner_footer {
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.logo_footer {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.logo_main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo_desc {
  margin-top: 24px;
  font-weight: 400;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 60%;
}
.catalog {
  width: 20%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  align-items: flex-end;
  justify-content: space-around;
  opacity: 60%;
}
.catalog > span {
  cursor: pointer;
}
.contacts {
  width: 20%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  justify-content: space-around;
  align-items: center;
  opacity: 60%;
}
.socials {
  width: 20%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  justify-content: space-around;
  align-items: center;
}
.contacts > span {
  cursor: pointer;
}
.icons {
  display: flex;
  justify-content: space-around;
}
.icons > img {
  margin: 0 7px;
  cursor: pointer;
}

.desc_footer {
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.desc_footer_wrapper {
  width: 100%;
  max-width: 318px;
}

.description {
  width: 100%;
  min-height: 700px;
  display: flex;
}

@media (max-width: 768px) {
  .desc_footer {
    flex-direction: column;
  }
  .wrapper_footer {
    width: 375px;
  }
  .catalog {
    display: none;
  }
  .contacts {
    display: none;
  }
  .logo_footer {
    display: none;
  }
  .socials {
    min-height: 140px;
    width: 100%;
  }
  .picture_footer {
    width: 80%;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(../Images/footer/sleeping\ 1.svg),
      url(../Images/footer/Vector.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top 0 left 10%, bottom 0 right 0;
    background-size: 30%, 30%;
  }
  .input_name {
    margin-left: 16px;
    width: 343px;
  }
  .input_mail {
    width: 343px;
    margin: 8px 0 0 16px;
  }
  .button.footer {
    margin-top: 24px;
    margin-left: 16px;
    margin-bottom: 10px;
  }
}
