@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;800;900&display=swap');

.main_head {
  background: #fed700;
  width: 100vw;
  margin: 0 auto;
}
.wrapper_head {
  width: 1000px;
  min-height: 744px;
  /* background: #fed700; */
  margin: 0 auto;
  z-index: 1111;
}

.header {
  width: 100%;
  min-height: 152px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 23%;
  max-height: 72px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo > span {
  font-size: 28px;
  font-weight: 800;
  margin-left: 14px;
  margin-top: 7px;
}
.search {
  width: 54%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input {
  min-width: 509px;
  min-height: 48px;
  border-radius: 24px;
  font-family: Nunito;
  color: #7b8e98;
  padding: 0 0 0 20px;
  background: url(../Images/Search.svg) no-repeat;
  background-position: center right 20px;

  background-color: #ffff;
}
.nav {
  width: 15%;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.navbar :hover {
  opacity: 60%;
}
.description {
  width: 100%;
  min-height: 544px;
  display: flex;
}
.desc {
  width: 50%;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.picture {
  width: 50%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url(../Images/clouds/left_cloud.svg) no-repeat;
  background: url(../Images/clouds/big_cloud.svg) no-repeat bottom 30% right; */
  background-image: url(../Images/clouds/left_cloud.svg),
    url(../Images/clouds/big_cloud.svg), url(../Images/clouds/Vector\ 4.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom 40% left 5%, bottom 35% right, top 50% right 25%;
}
.img {
  background: url(../Images/HorDog.svg) no-repeat right 50% center;
  width: 100%;
  height: 400px;
}
.button {
  width: 154px;
  min-height: 56px;
  background: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  cursor: pointer;
}
.button > span {
  font-family: Nunito;
  font-weight: 800;
}
.title {
  font-family: Nunito;
  line-height: 52px;
  font-size: 44px;
  font-weight: 900;
}
.title > span {
  min-width: 415px;
}
.subtext {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 300;
}
.bottom_nav {
  width: 992px;
  min-height: 132px;
  background: #ffff;
  border-radius: 20px;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 10px 10px rgba(96, 97, 112, 0.16);
}
.navigation {
  width: 92px;
  height: 92px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.navigation :hover {
  opacity: 60%;
}
.half_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}
@media (max-width: 768px) {
  .img {
    background: url(../Images/HorDog.svg) no-repeat left 40px bottom;
    width: 120%;
  }
  .header {
    min-height: 72px;
  }
  .nav_mobile {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(../Images/mobile/Menu.svg) no-repeat center;
  }
  .logo > span {
    display: none;
  }
  .logo > img {
    width: 70%;
  }
  .navbar {
    display: none;
  }
  .title {
    margin: 0;
  }
  .title.top {
    margin-top: 116px !important;
  }
  .description {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 600px !important;
  }
  .desc {
    height: 200px;
  }
  .search-input {
    min-width: 200px;
  }
  .main_head {
    width: 100vw;
  }
  .wrapper_head {
    width: 375px;
    margin: 0 auto;
  }
  .title {
    line-height: 40px;
    font-size: 38px;
    margin: 20px 0 20px 16px !important;
  }
  .title > span {
    min-width: 335px;
  }
  .desc {
    width: 100%;
  }
  .subtext {
    font-size: 19px;
  }

  .picture {
    width: 100%;
  }
  .bottom_nav {
    width: 343px;
    min-height: 256px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .half_nav {
    width: 100%;
  }
  .picture {
    width: 100%;
  }
  .subtext {
    margin-left: 16px;
  }
  .button {
    margin-top: 32px;
    margin-left: 16px;
    margin-bottom: 20px;
  }
  .logo {
    margin-left: 16px;
  }
}
