@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

.main_main {
  background: #ffff;
}
.mobile {
  display: none;
}
.img_favorite {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 0;
  right: 0;
  background: url(../Images/ic-favorites.svg) no-repeat;
  cursor: pointer;
}
.wrapper_main {
  width: 1000px;
  min-height: 744px;
  background: #ffff;
  margin: 0 auto;
}

.banner {
  width: 100%;
  height: 260px;
  cursor: pointer;
  background: url(../Images/Banner.svg) no-repeat;
  margin: 40px auto 0 auto;
}
.banner :hover {
  opacity: 60%;
}

.hits {
  display: flex;
}
.title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  margin-top: 40px;
}
.buttons > img {
  cursor: pointer;
}
.title_grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.card {
  position: relative;
  width: 24%;
  min-height: 359px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.price {
  margin-top: 30px;
  font-weight: 800;
  font-size: 20px;
}
.subtitle {
  font-weight: 400;
  font-size: 12px;
}

.subscribe {
  font-size: 14px;
}

.bag {
  background-color: #fed700;
  width: 115px;
  min-height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.half_banners {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  cursor: pointer;
}
.half_banner :hover {
  opacity: 60%;
}
.half_banner {
  width: 50%;
}

.subscribe_news {
  font-weight: 700;
}
.card_news {
  height: 196px;
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.card > .subscribe {
  font-family: Nunito;
  font-weight: 600;
  font-size: 16px;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30%;
}
.subscribe_news {
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.card_news :hover {
  opacity: 60%;
}
.image {
  width: 80%;
}
.image > img {
  width: 100%;
}

@media (max-width: 768px) {
  .card > .subscribe {
    font-weight: 600;
    font-size: 16px;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .half_banners {
    margin-top: 20px;
  }
  .wrapper_main {
    width: 375px;
  }
  .banner {
    width: 343px;
    height: 152px;
    background: url(../Images/mobile/Banner.svg) no-repeat;
  }
  .title {
    margin-left: 16px;
    width: 95%;
  }
  .title > span {
    font-size: 38px;
  }

  .buttons {
    display: none;
  }
  .card.first {
    display: none;
  }
  .card.third {
    display: none;
  }
  .card {
    width: 47%;
    min-height: 298px;
  }
  .image {
    width: 150px;
  }
  .image > img {
    width: 93%;
  }
  .title_grid {
    /* margin-left: 16px; */
    padding: 0 8px 0 8px;
  }
  .half_banner.second {
    display: none;
  }

  .half_banner.first {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .half_banner.first > img {
    width: 343px;
  }
  .card_news {
    min-height: 200px;
    width: 47%;
  }
  .card_news.first {
    display: none;
  }
  .card_news.third {
    display: none;
  }
}
