@media (max-width: 768px) {
  .mobile {
    width: 100%;
    height: 812px;
    background: #ffff;
    position: absolute;
    overflow: hidden;
    padding: 44px 16px 29px 16px;
    display: none;
  }
  .mobile_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .mobile_content {
    width: 100%;
    min-height: 458px;
  }
  .mobile_footer {
    width: 100%;
    min-height: 88px;
  }
  .mobile_header {
    width: 100%;
    min-height: 56px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .mobile_close {
    width: 24px;
    height: 24px;
    background: url(../Images/mobile/ic-close.svg) no-repeat center;
  }
  .mobile_signin > span {
    color: #1a1a1a;
    font-family: Nunito;
  }
  .mobile_menu {
    width: 100%;
    min-height: 200px;
  }
  .mobile_card {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background: url(../Images/mobile/ic-right-arrow.svg) no-repeat right;
  }
  .mobile_card > img {
    margin-right: 16px;
  }
  .mobile_desc {
    width: 100%;
    min-height: 172px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 30px;
  }
  .mobile_description {
    width: 45%;
    min-height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .separator {
    content: '';
    width: 343px;
    height: 1px;
    background-color: #cfd8dc;
  }

  .mobile_footer_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .mobile_image {
    width: 20%;
    height: 100%;
    background: url(../Images/mobile/ic-support.svg) no-repeat top center;
  }
  .mobile_support {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .support_title {
    width: 100%;
    height: 44px;
    display: flex;
    flex-direction: column;
  }
  .ask {
    font-weight: 800;
    font-family: Nunito;
  }
  .service {
    font-size: 14px;
    margin-top: 4px;
    color: #7b8e98;
  }
  .mobile_button {
    width: 82px;
    height: 32px;
    border: 1px solid #cfd8dc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 12px;
  }
}
